<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(16, 102, 231, 0.171);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.btn-submit {
    width: 50%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Switch Language */
.language-toggle {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.language-toggle:hover {
    background-color: #e0e0e0;
}

/* error message */
.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .login-box {
        padding: 40px;
    }
    
    .logo {
        width: 300px;
    }
    
    h2 {
        font-size: 28px;
    }

    .input-group input {
        font-size: 14px;
        padding: 10px 10px 10px 40px; 
    }

    .btn-submit {
        font-size: 14px;
    }
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(16, 102, 231, 0.171);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.btn-submit {
    width: 50%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Switch Language */
.language-toggle {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.language-toggle:hover {
    background-color: #e0e0e0;
}

/* error message */
.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .login-box {
        padding: 40px;
    }
    
    .logo {
        width: 300px;
    }
    
    h2 {
        font-size: 28px;
    }

    .input-group input {
        font-size: 14px;
        padding: 10px 10px 10px 40px; 
    }

    .btn-submit {
        font-size: 14px;
    }
>>>>>>> e1c9b9236d4ed67f1dee5d6544511c0824532c22
}